<!-- #region header  -->

<header>
    <div class="container header-container">
        <nav class="nav">
            <a class="logo-text" href="./index.html"><img class="logo-image" src="./images/product/logo.png"
                    alt="logo" />Product</a>

            <ul class="nav-ul">
                <li class="nav-li nav-li-pr"><a href="./index.html">Product</a></li>
                <li class="nav-li"><a href="./pricing.html">Pricing</a></li>
                <li class="nav-li"><a href="./customers.html">Customers</a></li>
                <li class="nav-li"><a href="./resources.html">Resources</a></li>
            </ul>
        </nav>
        <ul class="nav-button">
            <li><button class="button-nav-in" type="button">Sign In</button></li>
            <li><button class="button-nav-up" type="button">Sign Up</button></li>
        </ul>
    </div>
</header>

<!-- #endregion header -->