<!-- #region Section1 -->

<section class="hidden">
    <div class="container section1">
        <div class="section1-box">
            <h2 class="section1-h2">Work at the speed of thought</h2>
            <p class="section1-p">
                Tools, tutorials, design and innovation experts, all in one place! The most intuitive
                way to imagine your next user experience.
            </p>
            <div class="section1-buttons">
                <button class="section1-button" type="button">Get started</button>
                <a class="section1-link" href="">
                    <svg class="icon-play" width="20" height="18">
                        <use href="./images/iconsprite.svg#icon-play"></use>
                    </svg>Watch the Video</a>
            </div>
        </div>

        <img src="./images/product/hero.png" alt="" />
    </div>
</section>

<!-- #endregion Section1 -->