<!-- #region Section7 -->
<section class="hidden">
    <div class="container something-container">
        <h2 class="h2-strategies">Contents Strategies</h2>
        <p class="p-something">We focus on ergonomics and meeting you where you work. It's only a keystroke away.</p>
        <ul class="ul-something">

            <li class="li-something">
                <img class="img-something" src="./images/product/content1.jpg" alt="" />
                <p class="p-li-something">By <span class="span-something">Wahid Ari</span> | 03 March 2019</p>
                <h2 class="h2-something">Increasing Prosperity With Positive Thinking</h2>
            </li>

            <li class="li-something">
                <img class="img-something" src="./images/product/content2.jpg" alt="" />
                <p class="p-li-something">By <span class="span-something">Wahid Ari</span> | 03 March 2019</p>
                <h2 class="h2-something"><span class="span-h2">Motivation Is The First Step To Success</span></h2>
            </li>

            <li class="li-something">
                <img class="img-something" src="./images/product/content3.jpg" alt="" />
                <p class="p-li-something">By <span class="span-something">Wahid Ari</span> | 03 March 2019</p>
                <h2 class="h2-something">Success Steps For Your Personal Or Business</h2>
            </li>
        </ul>
    </div>
</section>
<!-- #endregion Section7 -->