<!-- #region Section8 -->
<section class="hidden">
    <div class="container price-container">
        <h2 class="h2-price">Price Table</h2>
        <p class="p-price">We offer competitive price</p>
        <ul class="ul-price">
            <li class="li-price">
                <h2 class="h2-price">Free</h2>
                <p>Brief price description</p>

                <div class="div-prices">
                    <p><span class="span-price">0</span>
                    <div class="div-price">
                        <span class="span-baks">$</span><span class="span-permonth">Per / month</span>
                    </div>
                    </p>
                </div>

                <p>Only 2 Operators</p>
                <p>Notifications</p>
                <p>Landing Pages</p>
                <button class="button-price" type="button">Order Now</button>
            </li>

            <li class="li-price li-standart">
                <h2 style="color: white;" class="h2-price">Standard</h2>
                <p style="color: white;">Brief price description</p>

                <div class="div-prices">
                    <p><span style="color: white;" class="span-price">5</span>
                    <div class="div-price">
                        <span style="color: white;" class="span-baks">$</span><span class="span-permonth">Per /
                            month</span>
                    </div>
                    </p>
                </div>

                <p style="color: white;">5+ Operators</p>
                <p style="color: white;">Notifications</p>
                <p style="color: white;">Landing Pages</p>
                <button class="button-price button-standart" type="button">Order Now</button>
            </li>
            <li class="li-price">
                <h2 class="h2-price">Premium</h2>
                <p>Brief price description</p>

                <div class="div-prices">
                    <p><span class="span-price">10</span>
                    <div class="div-price">
                        <span class="span-baks">$</span><span class="span-permonth">Per / month</span>
                    </div>
                    </p>
                </div>

                <p>10+ Operators</p>
                <p>Notifications</p>
                <p>Landing Pages</p>
                <button class="button-price" type="button">Order Now</button>
            </li>
        </ul>
    </div>
</section>
<!-- #endregion Section8 -->