<!-- #region Section4 -->

<section class="hidden">
    <div class="container section4-container">
        <img src="./images/product/support.png" alt="" />
        <div class="div-cust-support">
            <p>Easier decision making for</p>
            <h2 class="h2-cust-support">Customer Support</h2>
            <p class="p-cust-support">
                The Myspace page defines the individual, his or her characteristics, traits, personal
                choices and the overall personality of the person. Never worry about overpaying for your
                energy again. Never worry about overpaying for your energy again.
            </p>
            <ul class="ul-cust-support">
                <li class="li-cust-support"><svg class="svg-cust-support svg-orange" width="8" height="8">
                        <use href="./images/iconsprite.svg#icon-v"></use>
                    </svg>
                    <p>Never worry about overpaying for your energy again.</p>
                </li>
                <li class="li-cust-support">
                    <svg class="svg-cust-support" width="18" height="18">
                        <use href="./images/iconsprite.svg#icon-v"></use>
                    </svg>
                    <p>
                        We will only switch you to energy companies that we trust and will treat you right
                    </p>
                </li>
                <li class="li-cust-support">
                    <svg class="svg-cust-support svg-blue" width="18" height="18">
                        <use href="./images/iconsprite.svg#icon-v"></use>
                    </svg>
                    <p>We track the markets daily and know where the savings are.</p>
                </li>
            </ul>
        </div>

    </div>
</section>

<!-- #endregion Section4 -->