<!-- #region Section6 -->

<section class="hidden">
    <div class="container process-contsiner">
        <div class="div-process">
            <h2 class="h2-prcess">Quick & Easy Process</h2>
            <p>
                Do you require some help for your project: Conception workshop, prototyping, marketing
                strategy, landing page, Ux/UI?
            </p>
        </div>
        <ul class="ul-process">

            <li class="li-process">
                <img src="./images/product/avatar.png" alt="img" />
                <p class="p-process">I can take care of your pitch</p>
            </li>

            <li class="li-process li-ends">
                <p class="p-process">I can prototype your app</p>
                <img src="./images/product/avatar 2.png" alt="img" />
            </li>

            <li class="li-process">
                <p class="p-process">I can take care of your pitch</p>
                <img src="./images/product/avatar3.png" alt="img" />

            </li>

            <li class="li-process li-ends">
                <img src="./images/product/avatar4.png" alt="img" />
                <p class="p-process">I can help marketing strategy</p>
            </li>

        </ul>
        <button class="button button-process" type="button">Contact our expert</button>
    </div>
</section>
<!-- #endregion Section6 -->